.container_one_page {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    min-height: 100vh; 
    box-sizing: border-box; 
    gap: 20px; 
}

#div_parte_indicadores,
#div_parte_graficos,
#div_parte_alunos {
    width: calc(100% - 0px); 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.div_titulos {
    color: #343c63;
}

.div_titulos h2 {
    margin: 0;
    padding: 0;
}

.div_conteudos {
    background-color: white;
    border-radius: 10px;
}

#div_parte_indicadores {
    height: 20%;
    margin-bottom: 10px;
}

#div_nomeMateria {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

#div_indicadores {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.indicador {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

 .icone {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circuloIcone {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FE8484;
}

.icone i {
    color: #b43934;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.indicador p {
    font-weight: 500;
}

.p_titulo {
    text-align: left;
    color: gray;
    font-size: 13px;
}

.p_subtitulo {
    text-align: left;
    color: #b43934;
    font-size: 15px;
}

#div_parte_graficos {
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#div_parte_graficos h3 {
    color: #256297;
}

#div_grafico_notas {
    height: 100%;
    width: 60%;
}

.div_graficoTitulo {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_bar {
    width: 100%;
    height: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#barChart {
    width: 90% !important;
    height: 80% !important; 
    position: relative;
}

#div_grafico_frequencia {
    height: 100%;
    width: 40%;
}

.div_pizza {
    width: 100%; 
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pieChart {
    width: 350px !important; 
    height: 350px !important; 
    position: relative; 
}

#div_parte_alunos {
    height: 20%;
    display: flex;
    flex-direction: row;
}


#div_parte_alunos h3 {
    color: #256297;
}

#div_atencaoAlunos,
#div_todosAlunos {
    width: 40%; 
    height: 100%;
}

#div_alunoProblema {
    width: 100%;
    height: 85%;
}

#div_alunoAll {
    width: 100%;
    height: 85%;
}
