/* Estilo para o webkit (Chrome, Safari, Edge) */
#progress_bar {
    width: 100%;
    height: 20px;
    appearance: none; /* Remove estilos padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

/* Webkit (Chrome, Safari, Edge) */
#progress_bar::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
}

#progress_bar::-webkit-progress-value {
    background-color: #e74c3c ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Firefox */
#progress_bar::-moz-progress-bar {
    background-color: #e74c3c;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Classes de cor para o progress bar */
#progress_bar.progress-atencao::-webkit-progress-value {
    background-color: #e74c3c !important;
}

#progress_bar.progress-atencao::-moz-progress-bar {
    background-color: #e74c3c !important;
}

#progress_bar.progress-regular::-webkit-progress-value {
    background-color: #f1c40f  !important;
}

#progress_bar.progress-regular::-moz-progress-bar {
    background-color: #f1c40f !important;
}

#progress_bar.progress-otimo::-webkit-progress-value {
    background-color: #2ecc71  !important;
}

#progress_bar.progress-otimo::-moz-progress-bar {
    background-color: #2ecc71  !important;
}

.p_status_atencao {
  background-color: rgb(255, 199, 161);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.p_status_regular{
    background-color: rgb(255, 253, 155);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.p_status_otimo {
  background-color: rgb(150, 255, 150);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.grafico_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circular-progress {
    /* variáveis controladas por JS */
    --porcento: 85; /* valor padrão (0-100) */
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circular-progress::before {
    content: "";
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

.circular-progress span {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.div_header_modal {
    display: none;
}

.dialog_modal {
    border-radius: 10px;
    border: none;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.tabela tbody tr {
    cursor: pointer;
    transition: background-color .25s ease;
}

.tabela tbody tr:hover {
    background-color: #e5efff;
}

.tabela {
    border-collapse: collapse;
    border-spacing: 0;
}

.tabela tbody tr:last-child {
    border-bottom: none;
}

.botao-sair {
    position: absolute; 
    bottom: 30px;       
    left: 100px;         
    right: 100px;        

    background-color: #dd1c2f; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;

    /* --- Para alinhar o ícone e o texto --- */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
}

.botao-sair:hover {
    background-color: #c82333; 
}

#input_ra_edicao, #input_nome_edicao, #input_email_edicao :focus {
    /* 4. A CHAVE: Remove o outline (a borda azul/laranja/padrão do navegador) */
    outline: none; 
    
    /* 5. Garante que nenhuma borda seja adicionada no clique */
    border: none;
    
    /* 6. Opcional: Se você estiver usando `box-shadow` para foco, remova-o aqui */
    box-shadow: none;
}
