#progress_bar::-webkit-progress-value {
    background-color: rgb(255, 197, 143);
}

.p_status_atencao {
  background-color: rgb(255, 199, 161);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padr達o do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.p_status_regular{
    background-color: rgb(255, 253, 155);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padr達o do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.p_status_otimo {
  background-color: rgb(150, 255, 150);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padr達o do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.grafico_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circular-progress {
    --porcento: 85; /* valor padr達o */
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: conic-gradient(
        #94d879 calc(var(--porcento) * 1%), 
        #e0e0e0 0
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circular-progress::before {
    content: "";
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

.circular-progress span {
    position: absolute;
    font-size: 30px;
    font-weight: semi-bold;
    color: #333;
}

.div_header_modal {
    display: none;
}

.dialog_modal {
    border-radius: 10px;
    border: none;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 
