/* ==== 1. Boas Práticas e Variáveis ==== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    
    /* Cores Base */
    --primary-color: #4487DE; /* Roxo/Azul principal */
    --primary-color-dark: #3a67cf; /* Roxo/Azul principal */
    --white-color: #ffffff;
    --fade-color-dark: #00000021;
    --bg-color: #EAF3F6; /* Fundo principal da página */
    
    /* Cores de Texto */
    --text-dark: #000000;
    --text-dark-fade: #0000006c;
    --text-light: #ffffff;

    /* Tamanho Texto */

    --font-title: 22px;



    /* Cores de Status */
    --status-active: #A2FF94;
    --status-blocked: #4D4D4D;

    /* Outros */
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.144);
    --padding: 15px;
    --gap: 5%;
}

/* ==== 2. Reset Global ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 500;
}

/* ===========================================================
   ==========  ESTILO DO MODAL DE CRIAR ALUNO  ================
   =========================================================== */

/* ===== OVERLAY DO MODAL ===== */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0); /* começa invisível */
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 999;
}

.modal-overlay.ativo {
    background: rgba(0, 0, 0, 0.55); /* escurece a tela */
    backdrop-filter: blur(2px);
    opacity: 1;
    pointer-events: all;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 650px;
    min-width: 380px;
    transform: translate(-50%, -50%) scale(0.7);
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px #00000040;
    padding: 30px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    z-index: 9999 !important; /* <<< ACIMA DO OVERLAY */
}

.modal.ativo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 22px;
}

.modal-close {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
    color: var(--primary-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.modal-form label {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-form input,
.modal-form select {
    padding: 10px;
    border: 1px solid #ddd;
    background: var(--bg-color);
    border-radius: 5px;
    font-size: 15px;
}

.modal-form-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 colunas iguais */
    gap: 25px 35px;
    margin-top: 25px;
}

.modal-form-grid .full {
    grid-column: 1 / 3; /* Faz o item ocupar a linha inteira */
}

.modal-form-grid .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-form-grid label {
    font-weight: 600;
    font-size: 15px;
}

.modal-form-grid input,
.modal-form-grid select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    font-size: 14px;
}

.btn-criar-aluno {
    margin-top: 15px;
    background-color: #4487DE;
    color: white;
    padding: 14px 0;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-criar-aluno:hover {
    background-color: #3a67cf;
}

.created-at-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}

.created-at-box input {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
}


.btn-criar {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-criar:hover {
    background: var(--primary-color-dark);
}

.header_info_aluno{
    background-color: var(--white-color);
    padding: var(--padding);
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--card-shadow);

}

.header_info_aluno .img_logo{
    width: 10%;
    min-width: 100px;
}

.header_info_aluno section{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--gap);
}


.header_info_aluno section h1{
    font-size: var(--font-title);
    font-weight: 500;
}

.header_info_aluno i{
    font-size: calc(var(--font-title)* 1.5);
    color: var(--primary-color);
}

.img_icon_aluno{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

aside{
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 15%;
    height: 100%;
    padding-top: 40px;
    box-shadow: var(--card-shadow);
}

aside section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

aside section ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

aside section ul li{

    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

aside section ul li:hover{

    background-color: var(--primary-color-dark);

}

aside section ul li a{
    
    color: var(--text-light);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 14%;
    font-size: var(--font-title);


}


aside section ul li a i{

    font-size: 30px;

}

main{

    width: 100%;
    height: 92%;
    display: flex;

}

aside .active{
    background-color: var(--primary-color-dark);
}

.main_dash{
    display: flex;
    flex-direction: column;

}

main .section_dash{

    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--padding)*1.25);
}

.section_dash .main_dash{

    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    padding: calc(var(--padding)*1.25);
    gap: calc(var(--gap) * 0.5);
    box-shadow: var(--card-shadow);


}

.section_dash .main_dash .header_kpis{

    /* background-color: #ff00002b; */
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap)*0.3);
}

main header .kpi{

    box-shadow: var(--card-shadow);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: var(--padding);

}

.kpi .kpi_header{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: calc(var(--padding)*1);
}

.kpi_header .div_titulo_kpi{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: calc(var(--gap)*2);
}

.div_titulo_kpi h1{
    /* font-size: 70px; */
    font-size: calc(var(--font-title)*2.8);
}

.p_titulo_kpi{
    font-size: calc(var(--font-title) * 1.2);
    font-weight: 400;
}



.kpi_header .div_comparativo{
    width: 30%;
    height: 100%;
}

.kpi_footer{
    padding: var(--padding);
}


.div_progress_bar{
    padding: calc(var(--padding)*0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
}

.progress_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kpi_situacao{
    border-bottom: solid 2px rgba(128, 128, 128, 0.341);

}

#progress_bar {
    /* Remove o estilo padrão para personalizarmos do zero */
    appearance: none;
    -webkit-appearance: none; /* Para navegadores WebKit */
    
    width: 100%;
    height: 25px; /* Recomendo usar 'px' para altura */
    border: none;
    border-radius: 5px;
    
    /* Cor de fundo (trilha) para o FIREFOX */
    background-color: #f0f0f0;
}

/* Cor de fundo (trilha) para WEBKIT (Chrome, Safari) */
#progress_bar::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Cor do valor (preenchimento) para WEBKIT */
#progress_bar::-webkit-progress-value {
    background-color: rgb(253, 176, 124);
    border-radius: 5px;
}

/* Cor do valor (preenchimento) para FIREFOX */
#progress_bar::-moz-progress-bar {
    background-color: var(--status-active);
    border-radius: 5px;
}


.section_main{

    box-shadow: var(--card-shadow);
    border-radius: 20px;
    width: 100%;
    height: 65%;
    padding: var(--padding);
    gap: calc(var(--gap)*0.5);
    display: flex;
    flex-direction: column;

}

.main_alunos{
    background: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
}

.section_filter_alunos{
    background: none;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
  
}

.header_alunos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap) * 0.15);
    width: 100%;
    height: 10%;
}

.input_pesquisa{
    width: 85%;
    height: 100%;
    border: none;
    background-color: var(--bg-color);
    padding: 0 calc(var(--padding));
}

.div_criar_aluno{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: calc(var(--padding)*0.5);
    cursor: pointer;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Um pouco de estilo para parecer com o seu design */
  .filtro-dropdown {
    background-color: var(--bg-color);
    width: 10%;
    position: relative;
    z-index: 11;
  }

    summary{
         list-style: none; /* Remove a setinha/triângulo padrão */
    }

  /* O botão visível */
  .filtro-dropdown .titulo_sumario {
    background-color: var(--bg-color);
    padding: var(--padding);
    cursor: pointer;
    color: var(--text-dark-fade);
    list-style: none; /* Remove a setinha/triângulo padrão */
  }

  /* Opcional: Adiciona um ícone de "seta" que gira */
  .filtro-dropdown .titulo_sumario::before {
    /* Você pode usar um ícone de menu hamburguer aqui como na sua foto */
    content: '☰ '; 
    margin-right: 8px;
  }
  
  /* A lista que aparece */
  .filtro-lista {
    background-color: var(--bg-color);
    padding: var(--padding);
    border-top: 1px solid #ccc;
    position: absolute;
    z-index: 12;
  }
  
  .filtro-lista label {
    display: block; /* Cada item em sua própria linha */
    padding: calc(var(--padding)*0.5);
    cursor: pointer;
    background-color: var(--bg-color);
  }
  
  .filtro-lista label:hover {
    background-color: var(--bg-color);
  }

  .main_alunos{
    width: 100%;
    height: 75%; 
    overflow-y: auto;
    max-height: 75%;   
  }

  .tabela{
    width: 100%;
    overflow-y: scroll;
  }

  .corpo_tabela{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .corpo_tabela tr{
    width: 100%;
    height: 15px;
    text-align: center;
  }

/* Remove a borda do thead */
.tabela thead {
  position: sticky;
  top: 0;
 z-index: 10;
  /* A altura aqui é desnecessária, 
     o padding no 'th' vai cuidar disso */
}

/* Aplica o fundo e a borda nos 'th' */
.tabela thead th {
  background-color: var(--white-color);
  padding: 15px 10px; /* Controla a altura */
  border-bottom: solid 2px black;
  
  /* Garantia extra para o sticky funcionar 
     (alguns navegadores precisam disso) */
  position: sticky; 
  top: 0;
}


.tabela td {
  padding: 15px 10px; /* 15px em cima/baixo, 10px nos lados */
  text-align: center;
}

.p_status_atencao {
  background-color: rgb(255, 167, 132);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}
.p_status_regular{
    background-color: rgb(243, 255, 132);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}
.p_status_otimo{
    background-color: rgb(177, 255, 132);
  border-radius: 15px;
  color: var(--text-dark); /* Adicionei uma cor para legibilidade */
  padding: 5px 10px;
  margin: 0; /* Remove margem padrão do <p> */
  display: inline-block; /* Faz o fundo se ajustar ao texto */
}

.fi-sr-pencil{
    color: var(--primary-color);
    font-size: var(--font-title);
}

.fi-sr-trash{
    color: red;
    font-size: var(--font-title);
}


