#home {
    width: 100%;
    height: 94vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(30, 64, 175, 0.285);
    z-index: 1;
    /* fica entre a img e o CTA */
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    z-index: 0;
    filter: blur(2px) brightness(0.8);
}

#cta {
    background: #fff;
    color: rgba(52, 50, 50, 1);
    border-radius: 10px;
    padding: 80px 40px 60px;
    max-width: 640px;
    min-height: 300px;
    margin-right: 800px;
    z-index: 2;
}

#cta h1 {
    line-height: 1.3;
}

#cta span {
    background: linear-gradient(to right, #2c69ed, #1e40af);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#home h1 {
    font-size: 40px;
}

#cta_buttons {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2c69ed, #2249cc);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 14px;
    padding-inline: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

#cta_buttons a {
    color: white;
    text-decoration: none;
}

#cta_buttons:hover {
    background: #2249cc;
}

.description {
    font-size: 18px;
    color: rgba(74, 85, 101, 1);
}


@media screen and (max-width: 1170px) {

    #cta {
        text-align: center;
        margin-right: 0;
        margin: 40px;
    }

    #home h1 {
        font-size: 24px;
    }

    #cta_buttons {
        margin-left: auto;
        margin-right: auto;
    }

}